.carousel-item {
    height: 70vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/******************     Bloc Bakground-Color    ********************/

.nav-bg-color {
    background-color: #343132;
}

.custom-nav-link {
    font-family: 'Roboto Light', sans-serif;
    color: aliceblue;
}

.mylink {
    padding: 10px;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;

    text-decoration: none;
    color: #f0f8ff;
}

.my-custom-btn {
    border-radius: 20px; /* ou toute autre valeur de rayon de bordure que vous préférez */
    background-color: #343132;
    color: white;
    padding: 10px 20px;
    text-decoration: none; /* pour supprimer le soulignement par défaut */
}




/*******************    Header Style     **************************/


.marketing-site-hero {
    height: 100vh;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.marketing-site-hero {
    position: relative;
}

.marketing-site-hero .text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 40em) {
    .marketing-site-hero {
        background-position: center center;
    }
}

.marketing-site-hero-content {
    max-width: 75rem;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.marketing-site-hero-content h1 {
    font-size: 32px;
    color: aliceblue;
}

.marketing-site-hero-content p {
    color: rgba(240, 248, 255, 0.65);
}

.marketing-site-hero-content .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
}

@media screen and (min-width: 40em) {
    .marketing-site-hero-content {
        padding-left: 50%;
    }
}


/*        */
.my-breadcrumbs-custom-path {
    margin-left: -17px;
    margin-right: -17px;
}

.my-breadcrumbs-custom-path > * {
    padding-left: 17px;
    padding-right: 17px;
}

.my-breadcrumbs-custom-path a {
    display: inline;
}

.my-breadcrumbs-custom-path a, .my-breadcrumbs-custom-path a:active, .my-breadcrumbs-custom-path a:focus {
    color: #777777;
}

.my-breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 2;
    font-weight: 600;
    letter-spacing: .13em;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
}

.my-breadcrumbs-custom-path li::after {
    display: inline-block;
    position: absolute;
    content: "\f101";
    top: 48%;
    right: 0;
    font-size: 14px;
    line-height: 1.72;
    font-family: "FontAwesome";
    color: #151515;
    transform: translate3d(50%, -50%, 0);
}

.my-breadcrumbs-custom-path li:last-child:after {
    display: none;
}

.my-breadcrumbs-custom-path a:hover,
.my-breadcrumbs-custom-path li.active {
    color: #151515;
}

* + .my-breadcrumbs-custom-path {
    margin-top: 14px;
}

.fl-bigmug-line-shopping202:before {
    content: "\f07a";
    font-weight: 900;
    font-family: FontAwesome;
}

.this-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 0.25rem;
}